<body>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/1.jpg" alt="Serum Reparador De Puntas">
          <mat-card-title class="titulo">Serum Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Serum Reparador De Puntas</li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/2.jpg" alt="Mascara Karité Bekim">
          <mat-card-title class="titulo">Mascara Karité Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Tratamiento capilar Hydro Reparador.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/3.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Crema de Peinar de Karité - Békim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Aporta humedad desde las raíces hasta los extremos.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/4.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Shampoo Karite - Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Antioxidante natural retrasando el
              envejecimiento del cabello.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/5.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Ampollas de Karite Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Especial para cabellos secos y castigados por el calor.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/6.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Maxima Foormula</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Hidrata y protege la piel de la quemadura solar y el bronceado.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/7.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Memory Bekim Mascara</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Aporta un un equilibrio ideal entre hidratación, nutrición y reconstrucción.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/8.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Bekim Crema De Peinar Memory Curl</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/7.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Memory Bekim Mascara</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Aporta un un equilibrio ideal entre hidratación, nutrición y reconstrucción.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-button>Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>

</body>