<body>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/1.jpg" alt="">
          <mat-card-title class="titulo">Serum Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Serum Reparador De Puntas</li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/2.jpg" alt="">
          <mat-card-title class="titulo">Mascara Karité Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Tratamiento capilar Hydro Reparador.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/3.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Crema de Peinar de Karité Békim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Aporta humedad desde las raíces hasta los extremos.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/4.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Shampoo Karite - Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Antioxidante natural retrasando el
              envejecimiento del cabello.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/5.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Ampollas de Karite Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Especial para cabellos secos y castigados por el calor.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/6.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Maxima Foormula</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> Hidrata y protege la piel de la quemadura solar y el bronceado.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/7.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Memory Bekim Mascara</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Hidratación, nutrición y reconstrucción.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/8.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Bekim Crema De Peinar Memory Curl</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Hidratación, nutrición y unos increíbles rizos naturales,
              elásticos y sin frizz.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/9.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Memory Bekim Acondicionador</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Reposición de hidratación efectiva para el día a día.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/10.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Shampoo Bekim Organ</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nutre y protege los cabellos extremadamente secos, apagados y débiles.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/11.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Bekim After Color Acondicionador</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Retiene el color y prolonga su duración dejándolo con un color intenso.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/13.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Shampoo After Color Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Protege el cabello creando una capa protectora que retiene el color y prolonga
              su duración.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/16.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Ampolla Argan 4 Oils Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nutre y protege los cabellos extremadamente secos,
              apagados y débiles.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/14.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Mascara Argán Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Baño de crema altamente hidratante y nutritivo.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/15.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Protector Térmico Sublime Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Protección frente a calor de planchitas, secadores y bucleras.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/12.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Gel Supreme Fixer Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Para peinados exigentes, otorga brillo y humecta el cabello.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/17.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Crema de Peinar Argan 4 Oils Bekim</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Creada para modelar el cabello y lograr una nutrición intensa.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/18.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Biocell Therapy Ampollas</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Aumenta la fuerza de la fibra capilar, incrementa el brillo natural y brinda
              nutrición.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/19.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Booster Serum Colageno</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Proporciona hidratación, firmeza y elasticidad. 
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/20.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Mousse de limpieza</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Limpia profundamente, cuidando la piel. 
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="example-card">
          <img mat-card-image src="assets/productos/21.jpg" alt="Crema de Peinar">
          <mat-card-title class="titulo">Idraet Alpine Rosses Brume</mat-card-title>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Hidratación inmediata, protege del estrés ambiental.
            </li>
            <li class="list-group-item">$000</li>
          </ul>
          <mat-card-actions>
            <button mat-stroked-button color="accent">Agregar al carrito</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</body>