nav{
    background-color: #f7f7f7;
    right: 0;
    left: 0;
    padding: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c48f88;
    font-size: 20px;
    position:fixed;
    top: 0;
    z-index: 100;
}
.navbar-brand{
   font-family: system-ui, -apple-system, 'Segoe UI', Oxygen;
    font-style: oblique;
    font-size: 35px;
}
a {
    color: #c48f88;
}
a:hover {
    color: rgb(126, 110, 119);
  }
.carrito{
    float: right;
    margin-right: 5%;
}