nav{
    background-color: #f7f7f7;
    position: fixed;
    right: 0;
    left: 0;
    position: relative;
    padding: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c48f88;
    font-size: 20px;
    
}
a {
    color: #c48f88;
}
a:hover {
    color: rgb(126, 110, 119);
  }
.carrito{
    float: right;
    margin-right: 5%;
}