<body>
    <div class="banner">
        <div class="content">
            <h2 class="text_shadows">Nuestros servicios</h2>
          </div>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-sm exterior">
                <div class="interior">
                    <h4>Colorimetria</h4>
                    <img src="assets/tijera.png" alt="" height="30" width="30">
                    <h4></h4>
                    <p>Crecimiento desde $2800</p>
                    <p>Crecimiento + baño de luz desde $3400</p>
                    <p>Color completo desde $4500</p>
                    <p>Iluminacion/reflejo desde $4600</p>
                    <p>Mechas con banda desde $4200</p>
                    <p>Balayage desde $5800</p>
                    <p>Baby lights desde $6000</p>
                </div>
            </div>
            <div class="col-sm exterior">
                <div class="interior">
                    <h4>Tratamientos Capilares</h4>
                    <img src="assets/tijera.png" alt="" height="30" width="30">
                    <p>Nutriciones desde $1800</p>
                    <p>Nutriciones 4k desde $2300</p>
                    <p>Laminado desde $2800</p>
                    <p>Botox desde $3500</p>
                    <p>Keratina  desde $4800</p>
                    <p>Alisados (sin formol) desde $5500</p>
                </div>
            </div>
            <div class="col-sm exterior">
                <div class="interior">
                    <h4>Cortes</h4>
                    <img src="assets/tijera.png" alt="" height="30" width="30">
                    <p>Corte $1000</p>
                    <p>Corte + lavado $1600</p>
                </div>
            </div>
        </div>
    </div>
</body>