body {
    background-image: url("../../../assets/img/fondo2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
    color: rgb(82, 76, 76);
    padding-bottom: 25%;

}

.caja {
    background-color: #ffc1e075;
    font-family: 'Arial Narrow Bold';
    text-align: center;
    font-size: 16px;
    color: #312e2ec2;
    overflow: hidden;
    padding: 2%;
    margin-left: 25%;
    margin-top: 5%;
    
}


.intro{
    background-color: #fdfdfd80;
    font-family:'Arial Narrow Bold';
    font-size: 16px;
    color: #312e2ec2;
    overflow: hidden;
    margin-top: 15%;
    margin-left: 5%;
}



.container {
    flex-direction: row;
    background-color:#fff;
    margin-left: 2%;
    margin: 0 auto;
    margin-top: 2%;

}

