body {
    background-image: url("../../../assets/img/fondo2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    font-family: sans-serif;
    color: rgb(82, 76, 76);
    padding-bottom: 25%;

}

.caja {
    background-color: #c48981;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    color: #312e2ec2;
    margin: 20px auto;
    overflow: hidden;
    padding: 10%;
    margin-left: 10%;
    margin-right: 11%;
    margin-bottom: 6%;
}
.caja2{
    margin: 20px auto;
    margin-left: 11%;
}
.caja2:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
    
    transition: all 1s;
}

.intro{
    background-color: #b6cfc7d0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #312e2ec2;
    overflow: hidden;
    margin-left: 1%;
    margin-top: 6%;
}

#back-to-top {
    background-color: #c48981;
    color: #fff;
}

#back-to-top {
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
}

.container {
    flex-direction: row;
    background-color:#fff;
    margin-left: 2%;
    margin: 0 auto;
    margin-top: 2%;

}

.ir-arriba {
    display: none;
    padding: 20px;
    background: #024959;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}