<body>
    <app-carousel></app-carousel>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="intro">
                    <h1>Bienvenido a peluqueria</h1>
                    <img src="assets/tijera.png" alt="" height="30" width="30">
                    <p>Experta y actualizada con los últimos peinados, cortes de cabello y tendencias de color, estamos
                        listas para ayudarlo a sentirse y verse genial.</p>
                </div>

            </div>
            <div class="col-4">
                <div class="caja">
                    <h4>Horario de apertura</h4>
                    <img src="assets/tijera.png" alt="" height="30" width="30">
                    <h4>Lun- Vier</h4>
                    <p>10:00 a 17:00</p>
                    <h4>Sabado</h4>
                    <p>10:00 a 15:00</p>
                    <h4>Domingo</h4>
                    <p>CERRADO</p>
                </div>
            </div>
        </div>
    </div>
    
</body>