<body>
    <h1>Ponte en contacto</h1>
    <img src="assets/reloj.png" alt="" height="30" width="30">
    <p>Horario de apertura 8:00 a. m. a 10:00 p. m . de
        lunes a domingo</p>
    <div><a class="face" href="https://www.facebook.com/beluncha.teju" title="facebook"><img src="assets/fb.png" alt=""
                height="30" width="30"></a>
        <a href="https://api.whatsapp.com/send?phone=+54 2995959960"><img src="assets/whatsappp.png" alt="" height="30"
                width="30"></a>
    </div>
    <p>Puede encontrarnos en las siguientes direcciones.</p>
    <img src="assets/ubicacion.png" alt="" height="50" width="50">
    <p>Juan XXIII, R8324 Cipolletti, Río Negro</p>
    <div aling="center"> <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.6345741075143!2d-67.97834388503134!3d-38.93232910664043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a31ac04c88cd5%3A0x58f4f298fd8daa2e!2speluqueria%20meytbi!5e0!3m2!1ses-419!2sar!4v1659008160292!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>

</body>