body {
    background-image: url("../../../assets/img/fondo2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    padding-bottom: 25%;

}
p{
    font-family: Roboto;
    color: #666;
    font-size: 16px;
    line-height: 1.6em;
    letter-spacing: 0;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
}
.face{
    
        float: left;
}
.wap{
   
        float: left;
      
}